<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ilia.leek.mapper.FundMapper">
  <resultMap id="BaseResultMap" type="com.ilia.leek.entity.Fund">
    <!--@mbg.generated-->
    <!--@Table leek.ft_fund-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="fund_code" jdbcType="VARCHAR" property="fundCode" />
    <result column="fund_name" jdbcType="VARCHAR" property="fundName" />
    <result column="short_name" jdbcType="VARCHAR" property="shortName" />
    <result column="fund_full_pinyin" jdbcType="VARCHAR" property="fundFullPinyin" />
    <result column="fund_type" jdbcType="VARCHAR" property="fundType" />
    <result column="net_worth" jdbcType="DECIMAL" property="netWorth" />
    <result column="expect_worth" jdbcType="DECIMAL" property="expectWorth" />
    <result column="total_worth" jdbcType="DECIMAL" property="totalWorth" />
    <result column="expect_growth" jdbcType="VARCHAR" property="expectGrowth" />
    <result column="day_growth" jdbcType="VARCHAR" property="dayGrowth" />
    <result column="last_week_growth" jdbcType="VARCHAR" property="lastWeekGrowth" />
    <result column="last_month_growth" jdbcType="VARCHAR" property="lastMonthGrowth" />
    <result column="last_three_months_growth" jdbcType="VARCHAR" property="lastThreeMonthsGrowth" />
    <result column="last_six_months_growth" jdbcType="VARCHAR" property="lastSixMonthsGrowth" />
    <result column="last_year_growth" jdbcType="VARCHAR" property="lastYearGrowth" />
    <result column="buy_min" jdbcType="DECIMAL" property="buyMin" />
    <result column="buy_source_rate" jdbcType="DECIMAL" property="buySourceRate" />
    <result column="fund_rate" jdbcType="DECIMAL" property="fundRate" />
    <result column="manager" jdbcType="VARCHAR" property="manager" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, fund_code, fund_name, short_name, fund_full_pinyin, fund_type, net_worth, expect_worth,
    total_worth, expect_growth, day_growth, last_week_growth, last_month_growth, last_three_months_growth,
    last_six_months_growth, last_year_growth, buy_min, buy_source_rate, fund_rate, manager,
    create_time, update_time
  </sql>

  <select id="getLinkFundByCode" resultType="com.ilia.leek.entity.model.ResultUserFund">
    select ff.*,fuf.*
    from ft_fund ff left join ft_user_fund fuf on fuf.fund_code = ff.fund_code
    where ff.fund_code=#{code}
  </select>
  
  <select id="searchFunds" parameterType="com.ilia.leek.entity.pojo.QueryFund" resultType="com.ilia.leek.entity.model.ResultUserFund">
    select ff.*,fuf.*
    from ft_fund ff left join ft_user_fund fuf on fuf.fund_code = ff.fund_code
    <where>
      <if test="pinyin != null and pinyin != ''">
        and ff.fund_full_pinyin like concat('%',#{pinyin},'%')
        or ff.short_name like concat('%',#{pinyin},'%')
      </if>
      <if test="fundName != null and fundName != ''">
        and ff.fund_name like concat('%',#{fundName},'%')
      </if>
      <if test="fundCode != null and fundCode != ''">
        and ff.fund_code like concat('%',#{fundCode},'%')
      </if>
    </where>
    order by ff.fund_code
  </select>
</mapper>