<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ilia.leek.mapper.UserFundMapper">
  <resultMap id="BaseResultMap" type="com.ilia.leek.entity.UserFund">
    <!--@mbg.generated-->
    <!--@Table leek.ft_user_fund-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="fund_code" jdbcType="VARCHAR" property="fundCode" />
    <result column="favorite" jdbcType="CHAR" property="favorite" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, fund_code, favorite, sort, create_time, update_time
  </sql>

  <select id="getFundsByUserId" parameterType="com.ilia.leek.entity.pojo.QueryFund" resultType="com.ilia.leek.entity.model.ResultUserFund">
    select fuf.*,ff.*
    from ft_user_fund fuf left join ft_fund ff on fuf.fund_code = ff.fund_code
    where fuf.user_id = #{userId}
    <if test="favorite != null and favorite != ''">
      and fuf.favorite=#{favorite}
    </if>
    <if test="pinyin != null and pinyin != ''">
      and ff.fund_full_pinyin like concat('%',#{pinyin},'%')
      or ff.short_name like concat('%',#{pinyin},'%')
    </if>
    <if test="fundCode != null and fundCode != ''">
      and ff.fund_code= #{fundCode}
    </if>
    order by fuf.sort
  </select>

  <select id="getFundsCodesDis" resultType="java.lang.String">
    select distinct fuf.fund_code
    from ft_user_fund fuf
  </select>
</mapper>